@model OnlineShoppingApp.ViewModels.RegisterUserViewModel
@using OnlineShoppingApp.Common

@* 
@{
    Layout = "_Login";
} *@

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/OnlineShoppingApp.styles.css" asp-append-version="true" />

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="~/images/design/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
@* <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css"> *@
<!--===============================================================================================-->
@* <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"> *@
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/login/util.css">
<link rel="stylesheet" type="text/css" href="~/css/login/main.css">
<style>
    a:hover {
        cursor: pointer;
    }

    .custom-validation-summary ul {
        margin: 0;
        padding: 0;
    }

    .custom-validation-summary li {
        margin-bottom: 5px;
    }
</style>

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/design/bg-01.jpg');">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-62 p-b-33">
            <form class="login100-form validate-form flex-sb flex-w" asp-controller="Account" asp-action="Register" method="post">
                <span class="login100-form-title p-b-53">
                    Register
                </span>

                @if (@ViewBag.RegistrationMessage != null)
                {
                    <div class="alert alert-success">@ViewBag.RegistrationMessage</div>
                }

                <a class="btn-google m-b-20" style="width: 100%;" onclick="window.location.href='@Url.Action("GoogleLogin", "Account", new { returnUrl = ViewData["ReturnUrl"] })'">
                    <img src="~/images/design/icons/icon-google.png" alt="GOOGLE">
                    Google
                </a>


                <div class="p-t-31 p-b-9">
                    <span class="txt1">
                        FirstName
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="FirstName is required">
                    <input class="input100" type="text" asp-for="FirstName">
                </div>

                <div class="wrap-input100 validate-input" style="border: none; border-radius:0; background-color:white">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="p-t-31 p-b-9">
                    <span class="txt1">
                        LastName
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="LastName is required">
                    <input class="input100" type="text" asp-for="LastName">
                </div>

                <div class="wrap-input100 validate-input" style="border: none; border-radius:0; background-color:white">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="p-t-31 p-b-9">
                    <span class="txt1">
                        Email
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Email is required: ex@abc.xyz">
                    <input class="input100" type="text" asp-for="Email">
                </div>

                <div class="wrap-input100 validate-input" style="border: none; border-radius:0; background-color:white">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <div class="p-t-31 p-b-9">
                    <span class="txt1">
                        Username
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    <input class="input100" type="text" asp-for="Username">
                </div>

                <div class="wrap-input100 validate-input" style="border: none; border-radius:0; background-color:white">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="p-t-13 p-b-9">
                    <span class="txt1">
                        Password
                    </span>
                    @*
                    <a class="txt2 bo1 m-l-5" asp-controller="Account" asp-action="ForgotPassword">
                    Forgot?
                    </a> *@
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" asp-for="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" style="border: none; border-radius:0; background-color:white">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="p-t-31 p-b-9">
                    <span class="txt1">
                        UserType
                    </span>
                </div>
                <div class="wrap-input100 validate-input" style="background-color: white;     border: none;">
                    <select asp-for="UserType" asp-items="Html.GetEnumSelectList<UserType>()" class="form-control">
                    </select>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        Register
                    </button>

                </div>

                <div class="w-full text-center p-t-55">
                    <span class="txt2">
                        Already a member?
                    </span>

                    <a class="txt2 bo1" asp-controller="Account" asp-action="Login">
                        Login now
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!--===============================================================================================-->
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/js/site.js"></script>
@*

<h2>Register</h2>

<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    @if (@ViewBag.RegistrationMessage != null)
    {
        <div>@ViewBag.RegistrationMessage</div>
    }
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label">First Name</label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label">Last Name</label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label">UserName</label>
        <div class="col-md-10">
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="UserType" class="col-md-2 control-label">User Type</label>
        <div class="col-md-10">
            <select asp-for="UserType" asp-items="Html.GetEnumSelectList<UserType>()" class="form-control">
            </select>
            <span asp-validation-for="UserType" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>

</form>

<button class="btn btn-default" onclick="window.location.href='@Url.Action("GoogleLogin", "Account", new { returnUrl = ViewData["ReturnUrl"] })'">
    Register Google
</button>


 *@